html body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #F1F1F1;
}

.icon {
  margin-right: 5px;
  
  & svg {
    vertical-align: middle;
  }
}

// NANITE LINK CSS
.NL_ {
  /********************************************************************************
  COMPONENTS
  ********************************************************************************/
  // Flex
  &flex {
    &_row {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 5px;
    }

    &_column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 5px;
    }
  }

  // Container
  &container {
    display: flex;
    max-width: 1140px;         /* Fixed width */
    margin: 0 auto;       /* Centers horizontally */
    width: 100%;
  }

  // ButtonLink
  &button {
    &Text {
      color: black;
      border: none;
      text-decoration: none;
    }

    &Link {
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-decoration: none;
    }
  }

  &link {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  &icon {
    margin-top: 1px;
    margin-right: 5px;
  }

  &ring {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid #3498db;
    border-radius: 50%;
    transition: transform 0.6s ease, opacity 0.6s ease;

    &.disperse {
      transform: scale(4);
      opacity: 0;
    }
  }
  
  /********************************************************************************
  INDIVIDUAL
  ********************************************************************************/
  // Navigation
  &nav {
    display: flex;
    align-items: center;     /* Vertical center */
    background-color: #222222;
    height: 50px;
    border-style: inset;
    border-width: 0 0 2px 0;
    border-color: #D9534F;

    &_logo {
      display: flex;
      align-items: center;     /* Vertical center */
      color: white;
      font-size: 18px;
      font-family: 'Nanum Gothic';
      font-weight: bold;
    }

    &_menu {
      list-style: none;    /* Removes bullet points from the list */
      height: 100%;
      display: flex;
      margin-right: auto;
      padding-inline-start: 30px;
      gap: 0px;           /* Space between menu items */

      &_item {
        & a {
          display: flex;
          align-items: center;     /* Vertical center */
          padding: 0 15px 0 15px;
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          font-family: 'Nanum Gothic';
          font-weight: bold;
          height: 50px;

          &.active {
            background-color: #D9534F; /* Change text color for active state */
          }
        }
      }
    }

    &_signin {
      display: flex;
      align-items: center;     /* Vertical center */
      margin-left: auto;

      &_link {
        display: flex;
        align-items: center;     /* Vertical center */
        color: white;
        font-size: 14px;
        font-family: 'Nanum Gothic';
        font-weight: bold;
      }
    }

    &_profile {
      &_menu {
        color: white;
        text-decoration: none;
      }
    }
  }

  // Main content
  &main {
    display: flex;
    background-color: white;
    padding: 10px;
    border: solid;
    border-color: #E7E7E7;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  &notfound {
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    
    &_container {
      box-sizing: border-box;
      position: relative;
      line-height: 1.4;
      text-align: center;
      width: 100%;
      left: 50%;
      top: 50%;
      padding-left: 15px;
      padding-right: 15px;
      transform: translate(-50%, -12%);
    }

    &_404 {
      box-sizing: border-box;
      position: absolute;
      height: 100px;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      & h1 {
        font-family: 'Maven Pro', sans-serif;
        color: #ececec;
        font-weight: 900;
        font-size: 276px;
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    & h2 {
      font-family: 'Maven Pro', sans-serif;
      font-size: 46px;
      color: #000;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0px;
    }

    & p {
      font-family: 'Maven Pro', sans-serif;
      font-size: 15px;
      color: #000;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 15px;
    }

    & a {
      font-family: 'Maven Pro', sans-serif;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      background: #189cf0;
      display: inline-block;
      padding: 16px 38px;
      border: 2px solid transparent;
      border-radius: 40px;
      color: #fff;
      font-weight: 400;
      -webkit-transition: 0.2s all;
      transition: 0.2s all;

      &:hover {
        background-color: #fff;
        border-color: #189cf0;
        color: #189cf0;
      }
    }
  }

  &footer {
    background-color: #FBFBFB;
    height: 50px;
    margin-top: 10px;
  }

  /********************************************************************************
  ADMIN
  ********************************************************************************/
  &admin {
    background-color: white;

    &_nav {
      display: flex;
      align-items: center;
      height: 70px;

      &_logo {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-family: 'Nanum Gothic';
        font-weight: 600;
      }

      &_right {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: auto;
      }

      &_link {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: 'Nanum Gothic';
        border-inline-start-width: 1px;
        border-inline-start-style:solid;
        border-inline-start-color: #F3F3F3;
        border-inline-end-width: 1px;
        border-inline-end-style: solid;
        border-inline-end-color: #DEDEDE;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        &:first-child {
          border-inline-start-width: 0px;
        }

        &:last-child {
          border-inline-end-width: 0px;
        }
      }
    }

    &_divider {
      width: 100%;
      height: 1px;
      background-color: #DEDEDE;
      margin-bottom: 10px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    &_outlet {
      flex: 1;
      flex-wrap: wrap;
    }

    &_drawer {
      &_container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        transition: all 0.3s ease; 
        
        &.open {
          width: 200px;
        }

        &.close {
          width: 70px;
        }
      }

      &_menu {
        border: 1px solid #EBEBEB;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

        padding: 2px;
        &.open {
          width: 175px;
        }

        &.close {
          width: 50px;
        }
      }

      &_toggle {
        display: flex;
        width: 25px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        
        &_icon {
          display: flex;
          background-color: white;
          height: 40px;
          width: 14px;
          margin-right: 11px;
          align-items: center;
          justify-content: center;
          border-top: 1px solid #EBEBEB;
          border-right: 1px solid #EBEBEB;
          border-bottom: 1px solid #EBEBEB;
          border-left: 0;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          box-shadow: 
            0 2px 5px rgba(0, 0, 0, 0.2);
        }
      }

      &_accordion {
        background-color: #EFEFEF !important;
        margin: 0 0 1px 0 !important;
        
        &::before {
          background-color: white !important;
        }

        &:first-child {
          box-shadow: none;
        }
        
        &:last-child {
          box-shadow: none;
        }

        &.active {
          color: #FFFFFF;
          font-weight: 700;
          background: none;
          background-color: black !important;
          
          & svg {
            color: white;
          }
        }

        &.Mui-expanded {
          background: linear-gradient(to bottom, #6EBBEA, #3886D0);
          color: #FFFFFF;
          font-weight: 700;
          margin: 0 0 1px 0 !important;

          &.active {
            background: none;
            background-color: black !important;
            
            & svg {
              color: white;
            }
          }
        }

        &_summary {
          height: 36px;
          border-bottom: 1px solid #dddddd;
          background-color: #ebebeb;
          color: inherit;
          min-height: 36px !important;
          
          &.css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root > div.MuiAccordionSummary-expandIconWrapper.css-yw020d-MuiAccordionSummary-expandIconWrapper {
            transform-origin: 9px 10px
          }

          & svg {
            height: 18px;
            width: 18px;
            margin: 1px 0px 1px 0;
          }
        }

        &_detail {
          color: black;
          font-weight: 400;          
          padding: 0 10px 0 10px !important;
          margin: 0 !important;
        }

        &_list {
          margin: 0 0 10px 0 !important;
          padding: 0 !important;
          border-radius: 5px;
          cursor: pointer;
          
          &_item {
            height: 28px;
            background-color: #ebebeb;
            border-bottom: 1px solid #dddddd;
            padding-left: 0px !important;
            padding-right: 0px !important;
            
            &:first-child {
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
            }

            &:last-child {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
            }

            & button {
              & div {
                color: black;
                margin-left: 22px;
                text-align: left;
              }
            }
          }
        }
      }
    }

    &_menu {
      &_container {
        display: flex;
        flex-direction: row;
        align-items: flex-start; /* Align items to the top */
        gap: 20px; /* Optional: Adds space between the views */
        height: 100%;
      }

      &_tab {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
        background-image: -webkit-linear-gradient(top, #eee, #ddd 18px, #ccc 18px, #ddd 33px);
        background-color: #ddd;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #999;
        min-width: 250px;
        height: 100%;
        overflow: hidden;
        vertical-align: top;
        position: relative;
        padding: 10px 10px 5px 10px;

        &_header {
          display: flex;
          flex-direction: row;
          align-items: stretch;
          align-content: space-between;

          & h1 {
            display: flex;
            flex-grow: 1;
            font-size: 16px;
            margin: -10px -10px 0 -10px;
            line-height: 32px !important;
            color: black;
            padding: 0 8px;
            text-overflow: ellipsis;
          }
        }
      }

      &_content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 5px;
      }

      &_section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: white;
        border: 1px solid #999;
        border-radius: 5px;
        padding: 5px 10px;
      }

      &_action {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: end;
      }

      &_node {
        border-radius: 5px;
        padding: 1px 4px 4px 4px;
        transition: background-color 0.5s ease;
        cursor: pointer;

        &:hover {
          background-color: #444;
          color: white;
        }

        &.active {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

.ck-editor {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;

  .ck-editor__top {
    display: flex;
    flex-shrink: 1;
  }

  .ck-editor__main {
    display: flex;
    flex-grow: 1;
    position: relative;
    margin-bottom: 10px;

    .ck-editor__editable {
      overflow-x: auto; /* Enable horizontal scrolling */
      white-space: nowrap; /* Prevent content from wrapping */
    }

    .ck-editor__editable, .ck-source-editing-area {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
    }
  }

  .ck-sticky-panel {
    width: 100% !important;
  }
}
